Repository matkoson/knowledge-base-fixes: changes, and which lefthook commands are due for each by the changed paths.
All: lint-typescript, lint-json, lint-markdown

lefthook.yml:

# Improved lefthook.yml
pre-commit:
  parallel: true
  commands:
    lint-typescript:
      glob: "*.{ts,tsx}"
      run: npx biome check --write {staged_files}
      skip:
        - merge
        - rebase
      
    lint-json:
      glob: "*.json"
      run: npx biome check --write {staged_files}
      skip:
        - merge
        - rebase
    
    lint-markdown:
      glob: "*.md"
      run: npx markdownlint {staged_files} --config .markdownlint.json || echo "Markdown linting failed but continuing..."

pre-push:
  parallel: false
  commands:
    typecheck:
      run: bun run typecheck
      skip:
        - merge
        - rebase
    
    test:
      run: bun test
      skip:
        - merge
        - rebase
    
    validate-db:
      run: bun run validate-db || echo "Database validation failed but continuing..."
      skip:
        - merge
        - rebase
    
    build:
      run: bun run build
      skip:
        - merge
        - rebase

Add package.json with improved scripts
  package.json
Due: lint-json

Add TypeScript configuration
  tsconfig.json
Due: lint-json

Add Biome configuration
  biome.json
Due: lint-json

Add changelog entry
  CHANGELOG/update_2025-03-21.md
Due: lint-markdown

Add basic index file
  src/index.ts
Due: lint-typescript
